
*.asv
*.avi
outputs/
results/
config/main_scatter/main_scatter_config.local*.json
config/main_scale/main_scale_config.local*.json
config/main_ld2/main_ld2_from_main_scatter_config.local*.json
config/main_ld2/main_ld2_from_main_scale_config.local*.json
data/*
!data/.gitkeep
!data/main_scatter/
data/main_scatter/*
!data/main_scatter/.gitkeep
!data/main_scale/
data/main_scale/*
!data/main_scale/.gitkeep
!data/main_ld2/
data/main_ld2/*
!data/main_ld2/.gitkeep
.pfal-cache/
data_publication_staging/
